body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body>section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#grille {
    display: grid;
}

.mur {
    background-color: blue;
}

.bonbon {
    background-image: url(../img/bonbon.gif);
}

.sol {
    background-color: black;
}